<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/login/login.css">
    <link rel="stylesheet" href="/user/necessities.css">
    <link rel="stylesheet" href="/dashboard/dash.css">

    <link href='/home/home.css' rel='stylesheet'>
    <title>Web Covid</title>
</head>

<body>
    <div class="app">
        {{> header}}
        {{{body}}}

    </div>
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/sidebar/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script src="/dashboard/mychart.js"></script>

</body>


</html>