<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/login/login.css">
    <link rel="stylesheet" href="/user/necessities.css">
    <link rel="stylesheet" href="/dashboard/dash.css">
    <link rel="stylesheet" href="/user/infoUser.css">
    <link href='/home/home.css' rel='stylesheet'>
    <title>Web Covid</title>
</head>

<body>
    <div class="app">

        {{> header}}

        {{{body}}}

        {{> footer}}

    </div>
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/main.js"></script>
    <script src="/user/necessities.js"></script>
    <script src="/user/package.js"></script>
    <script src="/admin/patient-list.js"></script>
    <script src="/user/infoUser.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>


</html>