<div class="home_password">
    <div class="content-home">
        <div class="tm-main">
            <!-- Gallery section -->
            <div class="tm-section-wrap">
                <section id="gallery" class="tm-section">
                    <div class="home-header-text">
                        <a href="/user/{{user._id}}/dashboard">
                            <i class='bx bx-arrow-back'></i>
                        </a>
                        <p>Đổi mật khẩu</p>
                    </div>
                    <div class="forms_sign-in">
                        <!-- Sign In -->
                        <div class="form content-sign-in">
                            <form class="form_sign-in" action="/user/changePassword" method="POST">
                                <div class="field form-sign-in">
                                    <span class="bx bxs-user"></span>
                                    <input name="userName" id="userName" placeholder="Username" required>
                                </div>
                                <div class="error_acc">{{post.errUserName}}</div>

                                <div class="field form-sign-in">
                                    <span class="bx bxs-lock-alt"></span>
                                    <input name="passWord" type="password" id="passWord" class="password"
                                        placeholder="Password" required>
                                    <i class="uil uil-eye-slash showHidePw"></i>
                                </div>
                                <div class="error_acc">{{post.errPass}}</div>
                                <div class="field form-sign-in">
                                    <span class="bx bxs-lock-alt"></span>
                                    <input name="newPassword" type="password" id="newPassword" class="password"
                                        placeholder="New Password" required>
                                </div>

                                <button type="submit">Đổi mật khẩu</button>
                            </form>


                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    const pwShowHide = document.querySelectorAll(".showHidePw"),
        pwFields = document.querySelectorAll(".password")
    pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            pwFields.forEach(pwField => {
                if (pwField.type === "password") {
                    pwField.type = "text";

                    pwShowHide.forEach(icon => {
                        icon.classList.replace("uil-eye-slash", "uil-eye");
                    })
                } else {
                    pwField.type = "password";

                    pwShowHide.forEach(icon => {
                        icon.classList.replace("uil-eye", "uil-eye-slash");
                    })
                }
            })
        })
    })
</script>